body {
  width: 1280px;
  padding: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin: 10px 0;
}

.sub_title {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}

svg {
  margin: 5px 0 15px 0;
}

svg#vis_squence {
  width: 1200px;
  height: 150px;
  border: 1px solid #ccc;
}

div#vis_network {
  width: 1200px;
  height: 550px;
  border: 1px solid #ccc;
}